<!DOCTYPE html>
<html>

<head>
    <title>Game of Life</title>
    <meta charset="utf-8" />

    <style>
        html {
            background-color: #666;
        }

        td {
            height: 10px;
            width: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="app"></div>
    </div>

    <template id="game-template">
        <div class="game">
            <table class="board">
                <tbody>
                    <tr v-for="(row, rowIndex) in board" :key="rowIndex">
                        <td v-for="(cell, columnIndex) in row" :key="columnIndex" :style="{'background-color': cell}"
                            @click="rise(rowIndex, columnIndex)">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>Generation: {{generation}} Version: {{version}}</div>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>window.Vue || document.write('<script src="vue-2.6.12.min.js">\x3C/script>')</script>
    <script>
        const template = document.getElementById('game-template').innerHTML;
        const vm = new Vue({
            el: '#app',
            template: template,
            data: {
                color: 'transparent',
                generation: 0,
                version: 0,
                board: [],
            },
            methods: {
                initialize(color) {
                    this.color = color;
                },
                synchorize(board, generation, version) {
                    this.generation = generation;
                    this.version = version;
                    this.board = board.map(row => row.map(cell => colorFromInt(cell)));
                },
                rise(rowIndex, columnIndex) {
                    ws.send(JSON.stringify({ action: 'update-cell', row: rowIndex, column: columnIndex }));
                }
            }
        });

        const colorStorageKey = 'game-of-life.player-color';
        const color = parseInt(localStorage.getItem(colorStorageKey)) || 0;

        let host = location.host;
        let protocol = 'wss';
        if (!host || host.startsWith('localhost:') || host.startsWith('127.0.0.1:')) {
            // When open in local dev environment, connect to api through fixed url.
            // This page might be open from file system directly, so there's no host,
            // Or it could be served without api proxying
            host = '127.0.0.1:5678';
            protocol = 'ws';
        }
        const url = `${protocol}://${host}/ws/gameoflifepy?color=${color}`;

        const ws = new WebSocket(url);
        ws.onmessage = onSocketMessage;

        function onSocketMessage(event) {
            const message = JSON.parse(event.data);
            switch (message.type) {
                case 'init':
                    localStorage.setItem(colorStorageKey, message.color);
                    vm.initialize(colorFromInt(message.color));
                    vm.synchorize(message.board, message.generation, message.version);
                    break;
                case 'sync':
                    vm.synchorize(message.board, message.generation, message.version);
                    break;
                default:
                    console.log('unkown message type', message);
                    break;
            }
        }

        function colorFromInt(value) {
            if (!value)
                return '#000000';
            return '#' + value.toString(16);
        }
    </script>
</body>

</html>